.shopping-content {
    margin-top: 5em;
    color: var(--text-color);
    text-align: center;
    h1 {
        width: 90%;
        margin: auto;
        font-family: var(--primary-font);
    }
    p {
        display: block;
        width: 90%;
        margin: 0.8em auto;
        font-family: var(--secondary-font);
    }
}
@media (min-width: 768px) {
    .shopping-content {
        margin-top: 0.5em;
        text-align: left;
        h1 {
            font-size: 2.5em;
        }
        p {
            font-size: 1.2em;
        }
    }
}