.content-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    pointer-events: none;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
    z-index: 1; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    overflow: auto;
    .modal-content {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-color);
        width: 90%; 
        max-width: 640px;
        margin: auto; 
        padding: 10px;
        border-radius: 10px; 
        text-align: center;
        .close {
            position: absolute;
            color: var(--text-color);
            opacity: 0.5;
            top: 0.1em;
            z-index: 2;
            right: 0.3em;
            font-size: 3em;
            font-weight: bold;
            &:hover,
            &:focus {
                opacity: 1;
                text-decoration: none;
                cursor: pointer;
            }
        }
        img {
            display: block;
            margin: 0.5em auto;
            height: 8em;
        }
        h1 {
            font-size: 1.8em;
        }
        p {
            font-size: 1.1em;
            margin: 0.5em 0;
        }
        .buttons {
            display: flex;
            width: 100%;
            justify-content: center;
            button {
                width: 10em;
                background-color: var(--yellow-color);
                color: var(--purple-color);
                font-family: var(--secondary-font);
                text-transform: uppercase;
                font-weight: 700;
                border-radius: 10px;
                padding: 0.5em 1em;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
                transition: all 0.3s;
                margin: 0.5em 0 1.5em;
                padding: 0.8em;
                &:hover {
                    box-shadow: none;
                }
            }
            .buy {
                margin-right: 1em;
            }
        }
    }
}
.content-modal .modal-content.map img { 
    height: 15em;
    margin: 0.5em auto;
}
.content-modal.show {
    transform: scale(1);
    pointer-events: all;
    z-index: 3;
}
.content-modal.brown .modal-content,
.content-modal.orange .modal-content,
.content-modal.blue .modal-content,
.content-modal.green  .modal-content{
    color: white;
}
.content-modal.brown .modal-content {
    background-color: #D87F4C;
}
.content-modal.orange .modal-content {
    background-color: #fb6c6c;
}
.content-modal.blue .modal-content {
    background-color: #76bdfe;
}
.content-modal.green .modal-content {
    background-color: #48d0b0;
}
.content-modal .modal-content {
    .stats {
        width: 85%;
        margin: 1em auto;
        font-family: var(--secondary-font);
        .row {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: space-between;
            margin-bottom: 0.5em;
            h2 {
                font-size: 0.9em;
                margin-right: 4em;
                width: 1.2em;
            }
            .parent-div {
                border-radius: 100px;
                width: 15em;
                height: 8px;
                display: grid;
                background-color: var(--grey-color);
                div {
                    border-radius: 100px;
                    grid-area: 1/1;
                }
            }
        }
        .row:first-of-type {
            .parent-div  div {
                background-color: #C16767;
            }
        }
        .row:nth-of-type(2) {
            .parent-div  div {
                background-color: var(--purple-color);
            }
        }
        .row:last-of-type {
            .parent-div  div {
                background-color: var(--brown-color);
            }
        }
    }
}
@media (min-width: 768px) {
    .content-modal .modal-content {
        img {
            height: 15em;
        }
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.2em;
        }
        .buttons button {
            font-size: 1em;
        }
        .stats .row {
            h2 {
                font-size: 1.2em;
                margin-right: 6em;
            }
        }
    }
    .content-modal .modal-content.map img { 
        height: 25em;
    }
}