.card-container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 2em auto;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  width: 15em;
  height: 15em;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 10px;
  color: var(--text-color);
  font-family: var(--secondary-font);
  img {
    width: 10em;
  }
}
@media (min-width: 768px) {
  .card-container {
    justify-content: flex-start;    
  }
  .card {
    margin-right: 5em;
  }
}