:root {
  --primary-font: "Poppins";
  --secondary-font: "Nunito";
  --border-color: #564789;
  --text-color: #38375A;
  --background-color: #FCFCFC;
  --purple-color: #564789;
  --grey-color: #E1E1E1;
  --yellow-color: #FFBD12;
  --red-color: #C16767;
  --brown-color: #804936;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
}