:root {
  --primary-font: "Poppins";
  --secondary-font: "Inter";
  --border-color: #564789;
  --text-color: #38375A;
  --background-color: #FCFCFC;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
}